server {
    client_max_body_size 100m;

    root /var/www/html/public;

    access_log /dev/stdout;
    error_log /dev/stdout info;

    # API
    location ~ ^/api {
        try_files $uri /index.php$is_args$args;
    }

    location ~ ^/privacy-policy {
        try_files $uri /index.php$is_args$args;
    }

    # API static
    location ~ ^/(bundles|email)/(.*)\.(js|css|png|jpg|gif|svg|ico|pdf|mov|zip|rar|doc|docx|xls|xlsx|html|woff|woff2)$ {
        root /var/www/api/public;
    }

    # Rewrite to API static
    location ~ ^/public/(.*)\.(js|css|png|jpg|jpeg|gif|svg|ico|pdf|mov|zip|rar|doc|docx|xls|xlsx|html|woff|woff2|txt|xml)$ {
        root /var/www/api;
        rewrite ^/(.*)$ /$1 break;
    }

    location ~ ^/robots.txt {
        root /var/www/api/public;
        rewrite ^/public/robots.txt break;
    }

    location ~ ^/userAgreement.txt {
        root /var/www/api/public;
        rewrite ^/public/userAgreement.txt break;
    }

    location ~ ^/.well-known/apple-app-site-association {
        root /var/www/api/public;
        rewrite ^/public/.well-known/apple-app-site-association break;
        add_header Content-Type text/plain;
    }

    location ~ ^/(.*)\.xml {
       root /var/www/api/public;
    }

    # Symfony profiler
    location ~ ^/_profiler {
        try_files $uri /index.php$is_args$args;
    }

    # API Fastcgi
    location ~ ^/index\.php(/|$) {
        fastcgi_pass {{ fastcgi_pass }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $document_root;
    }
    
    location @notfound {
        return 301 /;
    }
}