RABBITMQ_DEFAULT_USER={{ RABBITMQ_DEFAULT_USER | default('signal')}}
RABBITMQ_DEFAULT_PASS={{ RABBITMQ_DEFAULT_PASS | default('signal-stage')}}
RABBITMQ_DEFAULT_VHOST={{ RABBITMQ_DEFAULT_VHOST | default('rabbit.dev.market-bite.com')}}
VIRTUAL_HOST={{ VIRTUAL_HOST | default('rabbit.dev.market-bite.com')}}
VIRTUAL_PORT={{ VIRTUAL_PORT | default('15672')}}
LETSENCRYPT_HOST={{ LETSENCRYPT_HOST | default('rabbit.dev.market-bite.com')}}
LETSENCRYPT_EMAIL={{ LETSENCRYPT_EMAIL | default('timmi129@yandex.ru')}}
