APP_ENV={{ APP_ENV | default('dev') }}
APP_DEBUG={{ APP_DEBUG | default('1')}}
APP_SECRET={{ APP_SECRET | default('060b00fba7250a467630202196ab3c66') }}
CORS_ALLOW_ORIGIN={{ CORS_ALLOW_ORIGIN | default('.*') }}
DATABASE_URL={{ DATABASE_URL | default('postgresql://postgres:8ADA70882B903FFE01D9BA8C78F76269@postgres:5432/signal_dev') }}
MAILER_URL={{ MAILER_URL | default('null://localhost') }}
MAILER_FROM_ADDRESS={{ MAILER_FROM_ADDRESS | default('') }}
MAILER_FROM_NAME={{ MAILER_FROM_NAME | default('') }}
METRIC_DSN={{ METRIC_DSN | default('null://localhost') }}
METRIC_SERVER_NAME={{ METRIC_SERVER_NAME | default('signal_stage') }}
MAILER_DSN={{ MAILER_DSN | default('mailgun+smtp://postmaster@qq.dev.qq.ru:05ea1da0494a2c4490aea18302dcdabb-3e51f8d2-qweee@mailgun')}}
MESSENGER_TRANSPORT_DSN={{ MESSENGER_TRANSPORT_DSN | default('amqp://signal:signal-stage@signal_rabbitmq:5672/%2f')}}
HOST={{ HOST | default('https://dev.market-bite.com') }}
ROLL_BAR_TOKEN={{ ROLL_BAR_TOKEN | default('95355d7fuf454mce9b0a119bb6c0fa81') }}
TWILIO_ACCOUNT_SID={{ TWILIO_ACCOUNT_SID | default('AC8a7c3ec0a6df44e62ec2352b74ce15b6') }}
TWILIO_AUTH_TOKEN={{ TWILIO_AUTH_TOKEN | default('4da856de1a652d3a73d20d2d040d5203') }}
TWILIO_NUMBER={{ TWILIO_NUMBER | default('+12182766714') }}
API_VERSION={{ API_VERSION | default('1') }}
ENCRYPTION_PATH={{ ENCRYPTION_PATH | default('') }}