{% if APP_ENV == 'prod' %}
    User-Agent: *
    Allow: /
    Disallow: /public/icons/
    Disallow: /_next/
    Disallow: /assets/fonts/
    Disallow: /api/

    User-Agent: GoogleBot
    Allow: /
    Disallow: /public/icons/
    Disallow: /*sort=
    Disallow: /*type=
    Disallow: /_next/
    Disallow: /assets/fonts/
    Disallow: /api/

    User-Agent: YandexBot
    Allow: /
    Disallow: /public/icons/
    Disallow: /_next/
    Disallow: /assets/fonts/
    Disallow: /api/
    Clean-param: sort&type /
    Clean-param: sort&type /discounts/*

    Sitemap: 12323https://sig123nal.ru/sitemap.xml
{% else %}
    User-agent: *
    Disallow: /
{% endif %}