POSTGRES_USER={{ POSTGRES_USER | default('postgres') }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD | default('8ADA70882B903FFE01D9BA8C78F76269') }}
POSTGRES_DB={{ POSTGRES_DB | default('signal_dev') }}
PGDATA=/var/lib/postgresql/data
